/*
font-family: 'DM Serif Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Young Serif', serif;
*/

/* for all screens */
#info {display: none;}

/* only when orientation is in portrait mode */
@media all and (orientation:portrait) {
    #info {
         position: absolute;
         width: 100%;
         height: 100vh;
         line-height: 100vh;
         top: 0;
         left: 0;
         z-index: 9998;
         display: block;
         overflow-y: hidden;
         overflow-x: hidden;
         background-color: rgba(0, 0, 0, 0.5);
         text-align: center;
         color: #FFFFFF;
         font-size: 4vw;
    }
}

#name {
    padding-top: 2%;
    text-align: center;
    font-family: 'Young Serif', serif;
    font-size: 48px;
    font-size: 2.5vw;
    margin-bottom: 0px;
    letter-spacing: 6px;
}

#title {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-size: 1.5vw;
    margin-top: 0px;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;

}

.border {
    border: 1px solid black;
    border-radius: 8px;
    padding: 1px;
    /*margin-left: 5%;
    margin-right: 5%;*/
    margin-top: 2%;
}

.bottomHalf {
    height: 33vh;
}



.bottomHalfLeft {
    width: 43%;
    height: 100%;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}


#ganttContainer {
    padding-left: 1%;
    padding-right: 1%;
    height: 100%;
}

.bottomHalfRight {
    width: 56%;
    height: 90%;
    display: inline-block;
    vertical-align: top;
    padding-top: 1vh;
    font-family: 'Lato', sans-serif;
    font-size: 5%;
}

#detailsDiv {
    border-color:black;
    border-width: 1px;
    border-radius: 8px;
    margin-left: 0px;
    padding-left: 15px;
    height: 100%;
    overflow: scroll;
}

#detailsDiv.scroller {
    width: 10px;
    height: 25px;
    scrollbar-color: #6666ff;
    scrollbar-width: thin;
}


.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}


#tag {
    color: black;
    background: #b1b1b1;
    width: 110px;
    position: absolute;
    display: none;
    padding: 3px 6px;
    margin-left: -80px;
    font-size: 11px;
    border-radius: 3px;
}

#tag:after {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
    border-width: 10px;
    border-top-color: #b1b1b1;
    bottom: -20px !important;
}

.balance {
    text-wrap: balance;
}

#scalesvg {
    width: 20%;
}

#tooltip {
    position: absolute;
    display: inline-block;
    color: #555;
    font-size: 11px;
    text-align: left;
    background: #fafafa;
    box-shadow: 2px 2px 5px rgba(0, 0, 20, 0.25);
    pointer-events: none;
    line-height: 200%;
    width: 3em;
    opacity: 0;
  }

  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 25%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }

  li::marker {
    color: #6666ff;
  }

  strong {
    color: #6666ff;
  }

 #detailsContainer p {
    font-size: 1.25vw;
  }

  
